{% extends "new/loyal.html" %}

{% block info %}About{% endblock %}

{% block content %}
    <div class="about">
        <h1>About me</h1>
        <p>[Dreror-site] - is where innovation meets quality. My mission is to provide you with the best products and services that meet the highest standards.
            I pride myself on my professionalism and attention to detail.
        </p>
        <button class="btn btn-info"><a href="{% url 'cont' %}">Get my contact</a></button>
    </div>
{% endblock %}