{% extends "new/loyal.html" %}

{% block info %}Contact{% endblock %}

{% block content %}
    <div class="contact">
        <b>If you want to contact me, you can use those link</b>
        <p><button class="btn btn-info"><a href="https://t.me/drreror">Telegram</a></button></p>
        <p><button class="btn btn-info"><a href="https://discord.gg/M4uXfW8uKR">Discord</a></button></p>
        <p><button class="btn btn-info"><a href="https://github.com/Dreror">GitHub</a></button></p>
    </div>
{% endblock %}